body {
    font-family: 'Source Sans Pro', sans-serif;
    color: dimgray;
}

.unselectable-text {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.loma-schulte {
    position: relative;
}

.loma-schulte__table__tile {
    display: table-cell;
    width: 80px; 
    height: 80px;
    margin: 1px;
    text-align: center;
    vertical-align: middle;
    font-size: 2em;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    border-radius: 1px;
}

.loma-schulte__table__tile:hover {
    cursor: default;
    box-shadow: 0 4px 7px 0 rgba(0,0,0,0.2);
}

.loma-schulte__table {
    margin: 30px auto 30px auto;
}

.loma-schulte__table__correctness-indicator {
    font-size: 3em;
    margin: 70px auto;
    opacity: 0.8;
    width: 100%;
}

.loma-schulte__table__correctness-indicator--no-hint {
    color: dimgray !important;
    font-size: 2em !important;
}

.loma-schulte__table__correctness-indicator--correct {
    color: springgreen;
}

.loma-schulte__table__correctness-indicator--incorrect {
    color: tomato;
}

.loma-schulte__generate-button {
    --diameter: 140px;
    --radius: calc(var(--diameter) / 2);
    border-radius: var(--radius);
    height: var(--diameter);
    width: var(--diameter); 
    z-index: 2;
    
    /* for some reason it is transparent... */
    background-color: white;
    
    display: table;
    text-align: center;
    
    position: absolute;
    top: calc(50% - var(--radius) );
    left: calc(50% - var(--radius) );
    box-shadow: 0 2px 5px;
}

.loma-schulte__generate-button:hover {
    box-shadow: 0 4px 10px 0;
    cursor: pointer;
}

.loma-schulte__generate-button__text {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.5em;
}
